{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" >
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block css %} {% endblock %}
</head>

<body>
    <div class="nav-bar">
        {% if user.is_authenticated %}
        <div class="nav-item">안녕하세요, {{ user.username }}님</div>
        <a class="nav-item" href="{% url 'mypage' %}">마이페이지</a>
        <a class="nav-item" href="{% url 'logout' %}">로그아웃</a>
        {% else %}
        <a class="nav-item" href="{% url 'login' %}">로그인</a>
        <a class="nav-item" href="{% provider_login_url 'kakao' %}">카카오 로그인</a>
        <a class="nav-item" href="{% provider_login_url 'google' %}">구글 로그인</a>
        <a class="nav-item" href="{% url 'signup' %}">회원가입</a>
        {% endif %}
    </div>
    <h1 class='title'>
        To do list
    </h1>
    {% block content %}
    {% endblock content %}
</body>
