{% extends 'base.html' %}

{% block css %}
    {% load static %}   
    <link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}" >
{% endblock %}

{% block content %}
<body>
    <!-- 제목 세부사항 마감기한 -->
    <h2 class='title'>
        내용 확인하기
    </h2>
    <div class="text big">
        {{ post.title }}
    </div> 
    <div class="text">
        {{ post.content }}
    </div>
    <div class="text small">
        {{ post.duedate }}
    </div>

    <div class="link">
        <a href="{% url 'home' %}">홈으로</a>
    </div>
    {% if user.is_authenticated and post.author.pk == user.pk %}
    <div class="link">
        <a href="{% url 'edit' post.pk %}">수정하기</a>
    </div>
    <div class="link">
        <a href="{% url 'delete' post.pk %}">삭제하기</a>
    </div>
    {% endif %}

    {% for comment in post.comments.all %}    
    <li class="link">{{ comment.content }} 
        {% if user.is_authenticated and comment.user.pk == user.pk %}
        <a class="small" href="{% url 'delete_comment' post.pk comment.pk %}">댓글 삭제하기</a>
        {% endif %}
    </li>
    {% endfor %}

    {% if user.is_authenticated %}
    <form method="POST" class="link">
        {% csrf_token %}
        <input type="text" name="content" placeholder="댓글을 입력해주세요">
        <button type="submit">댓글 쓰기</button>
    </form>
    {% endif %}
</body>
{% endblock %}